.button {
  cursor: pointer;
  border-radius: 999rem;
  padding: 1.5rem 2.5rem;

  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;

  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s;

  text-transform: capitalize;
}

.button:hover {
  text-decoration: none;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* "Spinning Icon" animation */
.spinner {
  animation: spin infinite 5s linear;
  /* You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Variant "contained"  */
.contained {
  border: solid 0.125rem rgba(191, 42, 29, 1);
  background-color: rgb(191, 42, 29);
  color: #ffffff;
  text-decoration: none;
}

.contained:hover {
  background-color: rgba(191, 42, 29, 0.8);
}

/* Variant "outlined" */
.outlined {
  border: solid 0.125rem rgb(191, 42, 29);
  background-color: transparent;
  color: rgb(191, 42, 29);
  text-decoration: none;
}

.outlined:disabled,
.outlined:hover {
  background-color: rgba(191, 42, 29, 0.2);
}

/* Variant "text" */
.text {
  border: none;
  background-color: transparent;
  color: rgb(191, 42, 29);
  padding: 0.125rem 0.5rem;
}

.text:disabled {
  background-color: rgba(191, 42, 29, 0.1);
}

.text:hover {
  background-color: rgba(191, 42, 29, 0.1);
  /* text-decoration: underline; */
}

/* Variant "icon" */
.icon {
  border: none;
  background-color: transparent;
  color: rgb(191, 42, 29);
  padding: 0.25rem;
}

.icon:disabled,
.icon:hover {
  background-color: rgba(191, 42, 29, 0.1);
}
